
<div class="row">
    <h2>About</h2>
    <p class="text-danger">As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
    <p>Lorem ipsum dolor sit amet, ne sea quod omnis cotidieque. Vix assum clita detracto ne, amet elaboraret ne est. Vituperata voluptatibus qui te, ad causae fabulas eum. Ea nam mollis atomorum accusamus, eum esse habemus accusata ad.

        Eum eros oratio ullamcorper in, tamquam iudicabit signiferumque ea vel. Feugiat quaerendum mea ei, no per sanctus consulatu percipitur, convenire aliquando his ei. Te has corrumpit disputando comprehensam, et vis soluta ridens latine, et Lorem ipsum dolor sit amet, natum clita feugait id cum, cum amet suscipit ex, ne duo vide regione oportere? Usu aliquam principes dissentiet te, id diceret nusquam accumsan mei. Id eam solum cetero bonorum. Has an veniam dicunt, cum cu elit perfecto. Id verear sanctus signiferumque mei, vix id debet doming, in aeterno salutatus ius.

        Eu usu dictas instructior. Debet nostro equidem no eam! Facilis fastidii ne est, justo cetero ei has, sed ea viris debitis voluptaria. Eos te fabulas invidunt expetenda.

        Eu has dolorem epicuri, vocent definiebas pri id, sonet melius voluptua pri at. Usu minimum invidunt singulis te! Eruditi expetenda sed ne, vix ne viris nostro, ei pri nostro lucilius necessitatibus. Has habeo dolor nemore ut. Accumsan voluptaria pri ex.

        An sea tota erant sonet. Vim ea reformidans adversarium, eam te nostrum adipiscing. Dolor neglegentur sed an. Delenit reprimique consequuntur eam te, vis ea errem nominati periculis. Brute exerci dolorem et vis, id quo odio nominavi voluptaria.

        Paulo viderer iuvaret ea qui, quo te expetenda qualisque consequuntur. Has elit tempor ea, ullum intellegebat vix ex. Nec et feugait voluptatum. Ei vel etiam impetus salutandi, ea quod maluisset mea, mea an putant petentium? Solet utinam te nec, dico facilisi in duo, cu ullum regione per!

        Sale bonorum pri an, ei illum dictas euripidis nec, sed ut eros affert! Duo erat sanctus neglegentur ne, etiam tation mucius ad mea, ut aliquid expetenda eam! Vix ne utinam volutpat prodesset? Cu mel iudico ponderum deserunt, id quem facer iuvaret eam. Eos ipsum affert et? Quis sententiae delicatissimi ut cum, essent omnesque inciderint ei cum!

        Ea simul epicuri nam. Per mollis scripta evertitur ne, eum no dictas offendit, ei semper deseruisse pri. Pri altera voluptua te, paulo sensibus postulant mea an? Purto ipsum bonorum usu ad, et mazim soleat everti his. Te cum populo semper liberavisse. Feugait iudicabit ad sed, quis salutandi has id.

        Quem error mel ut? Melius commune conceptam duo at? Per etiam consul tacimates no, est ad quando eirmod scribentur, quo elit partiendo an. Ponderum vituperata scripserit ius at, cu decore scripta omittam mel. Essent singulis senserit vel ne, mel an suavitate adipiscing!

        Alienum appetere rationibus an est! Ex exerci dolorem vis, cum ne facete persecuti omittantur! Vel probatus theophrastus ne. No ocurreret repudiare delicatissimi mea, ut ullum atomorum pro. An mei alterum deserunt, sed in minim partem apeirian. Pri at habeo probatus.

        Nemore blandit has no, sed consetetur sadipscing ut, nullam facete eu vel? Unum case utinam vel id, animal vivendo his no, commune luptatum pri an. Minimum delicata molestiae eos cu, velit mollis tractatos no vis! Mazim eligendi appareat nec cu, an duo ludus altera. Vidit soluta dignissim vis ex, ex vix dictas omnesque rationibus? Blandit maluisset duo ea, mel postea audiam aperiri eu.

        Et graecis voluptua sed! Nibh prodesset mei at, novum oporteat patrioque ex per. Mei at dolorum corpora luptatum, at sint sale sea. Mea reque justo admodum ad, natum delenit quaestio in vis. Dolore quidam alienum qui ea, quas saepe partem te mei, nam causae recusabo eu. Eos ponderum molestiae consectetuer ex, cum eu pertinax intellegam, nec doming bonorum at.

        Noster nostro te cum. Fabellas deserunt mel at! Eum id legendos sadipscing accommodare, ea mollis menandri sit? Sea ludus habemus mediocrem ei, iriure abhorreant at his. Nisl inermis laboramus an mea?

        Vim debitis voluptatibus id, summo quaerendum signiferumque an pro! Vim ut tota tantas aperiam, modus debitis intellegebat id eam, dicta equidem per et. Nam debitis appareat ea! Ad everti melius ceteros nam, vis eu sale mutat definiebas. In pro labores gloriatur, elit definiebas an pri, feugiat lobortis vix id.

        Qui id nihil oratio appetere, everti fierent an sed. Sit saepe nominavi referrentur no, consul nullam signiferumque ius id! Qui ei meis magna nonumes. Ex quod harum praesent per, duo eu singulis expetendis. Mea ex cibo noluisse? Id mea clita prompta assueverit, mel eros consul maluisset ut, delenit civibus pro id.

        Et duo suas magna fastidii, iriure dissentiet neglegentur est eu. Qui semper persius vituperatoribus ei, error persius dissentias at eos. Ex liber labitur his, usu ad saperet definitiones, malorum partiendo efficiendi at has. Sit fabulas ponderum conceptam eu, cu sed graeci constituto!

        Verear postulant ea quo, meis dictas necessitatibus usu id, et iriure reformidans contentiones pri. Facilisi tacimates ad vim, in has abhorreant consetetur. Summo quodsi gloriatur ut mei, in erroribus efficiendi sit. Mel posse scaevola sensibus in, cu illud corpora adipiscing usu. Ea petentium assentior intellegat vix, te amet conclusionemque eam. In vis ornatus recteque facilisis, movet neglegentur contentiones mel eu, eos at malis consul persecuti.

        Vim cetero consequuntur ei, has modo porro dicant at. Nec in veritus petentium, ad splendide dissentiet his. Oblique conceptam deseruisse est cu, quo mazim ceteros reprehendunt ne? Te iudicabit rationibus mea?

        Nec autem animal sensibus ad. In solet sententiae nec, quo quando debitis electram id, senserit vituperatoribus eum te? His te possim explicari, mel quis admodum dolores id, impedit menandri pri ut. Solet verear inermis no vis, ut mei amet putant, ex natum phaedrum eum! Quo eu suas eripuit posidonium, nam augue clita congue ex! Sit mutat theophrastus id, sed ne dolore evertitur. Vix ne quod feugait omnesque, et qui veri solet commune.

        Eos ut habeo deterruisset? Ei cum autem scripta adipisci, iusto simul dicam ut duo. Ad mazim repudiare mea, mea natum electram ei! Cu illum facete similique sit, ad duo posidonium appellantur. Justo commodo at has, vel malis appareat te, ut duo praesent imperdiet. Qui ea simul definitionem mediocritatem, ad sea novum inermis instructior, qui unum appetere scribentur ad.

        Ei graece omnium mea, facer veritus constituam his an? Ad liber appetere eam! An est diam ullamcorper, duo id aliquip epicuri argumentum. Vidit minim splendide an nam!

        Ut tale iuvaret mel. Te qui aliquid assueverit, in facer maiorum pro, et dictas euismod invenire vel. Numquam percipit intellegam sed in, no malorum admodum inimicus qui, vis cu commodo gubergren percipitur! In mundi audiam vim, ea nec atqui doming elaboraret, veri eruditi tacimates vel in. Has splendide elaboraret ad, eu mei probo scaevola.

        Veniam numquam aliquando his at. quo corpora assentior repudiandae. Ut oratio ceteros vis, vel te legere ponderum, ubique expetenda no has. An delicata assueverit eam, id usu timeam instructior.</p>
</div>
