<div class="row">
    <h2>Contact</h2>
    <p>Email@ dilipmaharjann@mymail.com</p>
    <h3>Locations</h3>
    <ul class="location">
        <li>Some locaiton info</li>
        <li>Some locaiton info</li>
        <li>Some locaiton info</li>
    </ul>
    <ul class="location">
        <li>Some locaiton info</li>
        <li>Some locaiton info</li>
        <li>Some locaiton info</li>
    </ul>
    <ul class="location">
        <li>Some locaiton info</li>
        <li>Some locaiton info</li>
        <li>Some locaiton info</li>
    </ul>
</div>
