<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="http://placehold.it/350x350?text=Angular App" class="img-circle">
        </div>
        <h1>Angular App</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4" ng-repeat="service in services">
        <h2>{{service.name}}!</h2>
        <p>{{service.description}} </p>
    </div>
</div>