
<div class="row">
    <h2 class="text-center">Services</h2>
    <div class="row service">
        <div class="col-md-2">
            <img src="http://placehold.it/350x350?text=Angular App" class="img-circle">
        </div>
        <div class="col-md-10">
            <h2>Angular  Web App Development</h2>
            <p>
                Vim cetero consequuntur ei, has modo porro dicant at. Nec in veritus petentium, ad splendide dissentiet his. Oblique conceptam deseruisse est cu, quo mazim ceteros reprehendunt ne? Te iudicabit rationibus mea?

                Nec autem animal sensibus ad. In solet sententiae nec, quo quando debitis electram id, senserit vituperatoribus eum te? His te possim explicari, mel quis admodum dolores id, impedit menandri pri ut. Solet verear inermis no vis, ut mei amet putant, ex natum phaedrum eum! Quo eu suas eripuit posidonium, nam augue clita congue ex! Sit mutat theophrastus id, sed ne dolore evertitur. Vix ne quod feugait omnesque, et qui veri solet commune.
            </p>
        </div>
    </div>
    <div class="row service">
        <div class="col-md-2">
            <img src="http://placehold.it/350x350?text=Angular App" class="img-circle">
        </div>
        <div class="col-md-10">
            <h2>Angular Mobile App Development</h2>
            <p>
                Vim cetero consequuntur ei, has modo porro dicant at. Nec in veritus petentium, ad splendide dissentiet his. Oblique conceptam deseruisse est cu, quo mazim ceteros reprehendunt ne? Te iudicabit rationibus mea?

                Nec autem animal sensibus ad. In solet sententiae nec, quo quando debitis electram id, senserit vituperatoribus eum te? His te possim explicari, mel quis admodum dolores id, impedit menandri pri ut. Solet verear inermis no vis, ut mei amet putant, ex natum phaedrum eum! Quo eu suas eripuit posidonium, nam augue clita congue ex! Sit mutat theophrastus id, sed ne dolore evertitur. Vix ne quod feugait omnesque, et qui veri solet commune.
            </p>
        </div>
    </div>
    <div class="row service">
        <div class="col-md-2">
            <img src="http://placehold.it/350x350?text=Angular App" class="img-circle">
        </div>
        <div class="col-md-10">
            <h2>Angular  Game Development</h2>
            <p>
                Vim cetero consequuntur ei, has modo porro dicant at. Nec in veritus petentium, ad splendide dissentiet his. Oblique conceptam deseruisse est cu, quo mazim ceteros reprehendunt ne? Te iudicabit rationibus mea?

                Nec autem animal sensibus ad. In solet sententiae nec, quo quando debitis electram id, senserit vituperatoribus eum te? His te possim explicari, mel quis admodum dolores id, impedit menandri pri ut. Solet verear inermis no vis, ut mei amet putant, ex natum phaedrum eum! Quo eu suas eripuit posidonium, nam augue clita congue ex! Sit mutat theophrastus id, sed ne dolore evertitur. Vix ne quod feugait omnesque, et qui veri solet commune.
            </p>
        </div>
    </div>
</div>